<html>

Temp testing <br><br>

'pgsql.master' is {{ db_master }}
<br>
'version' is {{ db_version }}
<br>
'standbys' is {{ db_standbys }}
<br>
'connectionstring' is {{ db_conn }}
<br>
'admin-pass' is {{ admin_pass }}

<br>
<br>
done
 

</html>

